@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-size: 16px !important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif !important;
}

a {
    text-decoration: none;
}

.MuiAppBar-root button.MuiButton-root {
    margin-right: 5px;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.text-center {
    text-align: center;
}

p.error {
    margin-bottom: 0;
    color: red;
    font-size: 12px;
    font-style: italic;
}

.MuiAlert-root {
    margin-bottom: 18px;
}

.form {
    background: #cccccc2e;
    padding: 25px;
}

.form__field {
    margin-bottom: 15px;
}

button a {
    display: block !important;
}