@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-size: 16px !important;
    font-weight: 400;
    font-family: 'Poppins', sans-serif !important;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.text-center {
    text-align: center;
}